spring:
  application:
    name: RoboHire
  datasource:
    url: jdbc:mysql://localhost:3306/robohire_db?createDatabaseIfNotExist=true
    username: root
    password: "@Yushmanraj7272"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8080

gemini:
  api:
    key: ${GEMINI_API_KEY = "AIzaSyCCRwz76ChcMsMt8buHs690Jsi_OHK6hzo"}
    url: https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent
